.footer {
    background-color:  #001CAD;
    padding: 76px 0 100px;

    @include phones {
        padding: 40px 0;
        
    }

    &__title {
        display: none;
        font-size: 24px;
        line-height: 30px;
        font-family: 'FontName'; 

        @include tablets {
           display: block;
        }

        @include phones {
            margin-bottom: 20px;
        }
    }

    &__block {
        display: flex;
        justify-content: space-between;

        @include tablets {
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
        }
    }

    &__col{
       display: flex;
       flex-direction: column;
       justify-content: space-between;
        @include tablets {
            
            
            &:nth-child(2) {
                margin-bottom: 80px;
            }
        }
    }

    .contacts{

        &__block {
            margin-bottom: 60px;
            font-size: 20px;
            line-height: 24px;
        }

        &__title {
            font-size: 30px;
            line-height: 37px;
            font-family: 'FontName'; 
            margin-bottom: 60px;

            @include tablets {
                display: none;
            }
        }


        &__name {
            font-size: 20px;
            line-height: 24px;
        }
    }
}